<%= form_with(model: school_course, local: true) do |form| %>
  <% if school_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school_course.errors.count, "error") %> prohibited this school_course from being saved:</h2>

      <ul>
      <% school_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :school_class_id %>
    <%= form.text_field :school_class_id, id: :school_course_school_class_id %>
  </div>

  <div class="field">
    <%= form.label :lesson_id %>
    <%= form.text_field :lesson_id, id: :school_course_lesson_id %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration, id: :school_course_duration %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
