<h1> Επιλογή Καθηγητή / Καθηγήτριας </h1>

<table>
  <thead>
    <tr>
      <th>Ονοματεπώνυμο</th>
      <th>Διδακτικές Ώρες</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |st| %>
      <tr>
        <td><%= link_to "#{st.teacher.full_name}",
          pick_lessons_for_path( st.id, st.school.id )%></td>
        <td><%= link_to "#{st.teacher.teaching_hours}",
          pick_lessons_for_path( st.id, st.school.id )%></td>
        <td><%= link_to "Επιλογή μαθημάτων",
          pick_lessons_for_path( st.id, st.school.id )%></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3>Προσθήκη νέου καθηγητή/νέας καθηγήτριας</h3>

<p>Η προσθήκη γίνεται σε τρία βήματα:</p>
<p><small>Κάθε βήμα ανήγει σε δικό του παράθυρο. 
  Μετά την ολοκλήρωση του βήματος χρειάζεται να επιστρέφετε 
  σ'αυτήν εδώ την σελίδα.</small></p>
<ol>
  <li>
    <p>Αρχικά, γίνεται η εγγραφή του προσωπικού στο σύστημα
    <%= link_to 'από αυτήν εδώ την φόρμα', 
      {controller: "people", action: "new"},
      target: :_blank %>.</p>
  </li>
  <li>
    <p>Κατόπιν, γίνεται η επισύμανση του ώς καθηγητή / της καθηγήτρια
    <%= link_to 'από αυτήν εδώ την φόρμα', 
      {controller: "teachers", action: "new"},
      target: :_blank %></p>
  </li>
  <li>
    <p>Τέλος, γίνεται η εγγραφή του καθηγητή / της καθηγήτρια στο σχολείο
    μας για την τρέχουσα σχολική χρονιά, 
    <%= link_to 'από αυτήν εδώ την φόρμα', 
    {controller: "school_teachers", action: "new"},
      target: :_blank %></p>
  </li>
</ol>



