<h1> Επιλογή Καθηγητή / Καθηγήτριας </h1>

<table>
  <thead>
    <tr>
      <th>Ονοματεπώνυμο</th>
      <th>Διδακτικές Ώρες</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |st| %>
      <tr>
        <td><%= link_to "#{st.teacher.full_name}",
          school_teacher_homepage_path( st.id, st.school.id )%></td>
        <td><%= st.teacher.teaching_hours %></td>
        <td><%= link_to "Επιλογή μαθημάτων",
          pick_lessons_for_path( st.id, st.school.id )%></td>
        <td><%= link_to "Αίτηση για άδεια",
          select_request_type_path( st.id, st.school.id )%></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3>Προσθήκη νέου καθηγητή/νέας καθηγήτριας</h3>

<p>Η προσθήκη γίνεται σε τέσσερα βήματα:</p>
<p>Κάθε βήμα ανήγει σε δικό του παράθυρο. 
  Μετά την ολοκλήρωση του κάθε βήματος χρειάζεται να επιστρέφετε 
  σ'αυτήν εδώ την σελίδα.</p>
<ol>
  <li>
    <p>Αρχικά, γίνεται η εγγραφή του προσωπικού στο σύστημα
    <%= link_to 'από αυτήν εδώ την φόρμα', 
      {controller: "people", action: "new"},
      target: :_blank %>.</p>
  </li>
  <li>
    <p>Κατόπιν, γίνεται η επισύμανση του ώς καθηγητή / της καθηγήτρια
    <%= link_to 'από αυτήν εδώ την φόρμα', 
      {controller: "teachers", action: "new"},
      target: :_blank %>.</p>
  </li>
  <li>
    <p>Επόμενο βήμα η επιλογή της ειδικότητας 
    <%= link_to 'από αυτήν εδώ την φόρμα', 
      {controller: "teacher_specialties", action: "new"},
      target: :_blank %>.</p>
    <p>(Για την επιλογή πολλαπλών ειδικοτήτων, ξανασυμπληρώστε την φόρμα
    από την αρχή για κάθε ειδικότητα.)
    </p>
  </li>
  <li>
    <p>Τέλος, γίνεται η εγγραφή του καθηγητή / της καθηγήτρια στο σχολείο
    μας για την τρέχουσα σχολική χρονιά, 
    <%= link_to 'από αυτήν εδώ την φόρμα', 
    {controller: "school_teachers", action: "new"},
      target: :_blank %>.</p>
  </li>
</ol>



