<%= link_to 'Home', pick_teacher_for_path(@school)%>


<% 
    specialties_code = []
@specialties.each do |specialty| 
  specialties_code << specialty.code
end 
%>

<h1>
  <%= @teacher.full_name %> 
  (<%= specialties_code.join(", ") %>)
  <%= @school_teacher.hours_for_teaching%> 
  ώρες στο <%= @school_teacher.school.title %>
</h1>

<p>
<h2><font color=blue>Αν χρειάζεστε μία αίτηση για άδεια κάντε κλίκ εδώ : <a href="#adeies"><em> ΑΙΤΗΣΕΙΣ ΓΙΑ ΑΔΕΙΑ </em></a></font></h2>
</p>



<h2>Επιλεγμένες σειρές μαθημάτων</h2>

<% selected_courses_hours = 0 %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Τμήμα</th>
      <th>Ειδικότητα/Τομέας</th>
      <th>Μάθημα</th>
      <th>Συνολικές<br/>ώρες μαθήματος</th>
      <th>Επιλεγμένες<br/>ώρες διδασκαλίας</th>
      <th></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_courses.each do |course| %>
      <% selected_courses_hours += course.school_course.duration %>
      <tr>
        <td>
          <%= link_to "X", unregister_from_path( @school_teacher.id, 
                                                @school_teacher.school_id, 
                                                course.school_course.id),
                                                method: :delete %>
      </td>
        <td>
          <%= "#{course.school_course.school_class.school_grade_specialty.code}" +
            "#{course.school_course.school_class.number}" %>
        </td>
        <td>
          <%= course.school_course.school_class.school_grade_specialty.description %>
        </td>
        <td>
          <%= "#{course.school_course.lesson.description}-\
          #{course.school_course.lesson.lesson_type.code}" %>
        </td>
        <td>
          <%= course.school_course.lesson.hours%>
        </td>
        <td>
          <%= course.school_course.duration %>
        </td>
        <td>
          <%= link_to "διαγραφή", unregister_from_path( @school_teacher.id, 
                                                       @school_teacher.school_id, 
                                                       course.school_course.id),
                                                       method: :delete %>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>
Συνολικές επιλεγμένες ώρες : <%= selected_courses_hours %>
</h2>

<h2>Διαθέσιμες σειρές μαθημάτων</h2>

<%
    total_hours = 0
@available_courses.each do |course| 
  total_hours += course[:school_class].
    get_total_required_hours( course[:lesson] )
end
 %>

<h3>Συνολικές διαθέσιμες ώρες: <%= total_hours %></h3>

<%= form_tag register_these_lessons_for_path do %>

<table>
  <col width="30%">
  <col width="30%">
  <col width="1%">
  <col width="1%">
  <col width="26%">
  <col width="5%">
  <col width="5%">
  <thead>
    <tr>
      <th>Τμήμα</th>
      <th>Μάθημα</th>
      <th>Ώρες<br/>μαθήματος
        <br/>προς διάθεση</th>
      <th>Επιλεγμένες</br>ώρες</th> 
      <th>Διδάσκων<br/>(Διδάσκοντες για συνδιδασκ.)</th>
      <th>Επιλογή</th>
      <th>Προτεραιότητα</th>
    </tr>
  </thead>

  <tbody>
<% @available_courses.each do |course|
  class_grade = course[:school_class].school_grade_specialty
  class_number = course[:school_class].number
  class_name = "#{class_grade.description}-#{class_number}"
  theLesson = course[:lesson]
  courseDuration = course[:duration]
  priority = course[:assignment_priority]
  registered_teachers = course[:already_registered]
%>
      <tr>

        <% lesson_total_required_hours = 
          course[:school_class].get_total_required_hours( theLesson ) %>

        <td><%= class_name %></td>
        <td><%= theLesson.description %>-<%=theLesson.lesson_type.code%></td>
        <td><%= lesson_total_required_hours %></td>

        <% if registered_teachers.length > 0 %>

          <td><%= courseDuration %></td>
          <td>
            <% registered_teachers.each do |sct| %>
              <%=sct.school_teacher.teacher.full_name%> <br/>
            <% end %>
          </td>
          <td>
            <% school_course = course[:school_course] %>
            <%= check_box_tag "count_me_in #{school_course.id}",
              "#{school_course.id}", false %>
        </td>

      <% else %>

        <td><%= text_field_tag "registered_hours #{class_grade.id} #{class_number} #{theLesson.id}", 
          theLesson.hours, maxlength: 2 %></td>
        <td></td>
        <td><%= check_box_tag "register_me #{class_grade.id} #{class_number} #{theLesson.id}",
          "#{class_grade.id} #{class_number} #{theLesson.id}", false %></td>
        <td><%= priority %></td>
      <% end %>
      </tr>
<% end %>
  </tbody>
</table>

<%= submit_tag 'Καταχώρηση' %>
<% end %>

<!--
<p>
Για καταχώρηση μαθημάτων <em>εκτός ανάθεσης</em> παρακαλώ κάντε κλικ
<strong>
<%= link_to 'εδώ', pick_unassigned_lessons_for_path( @school_teacher.id,
                                                         @school_teacher.school_id) %>.
</strong>
</p>
-->

<h2>Επιλέξτε αίτηση άδειας</h2>
<ul>
  <li> Κανονική </li>
  <li> Αναρρωτική </li>
  <li> Αιμοδοσίας </li>
  <li> Γονική </li>
</ul>
<p id="adeies">
Παρακαλώ επιλέξτε από τις παραπάνω.
</p>
