<p id="notice"><%= notice %></p>

<p>
  <strong>School teacher request:</strong>
  <%= @request_support_document.school_teacher_request %>
</p>

<p>
  <strong>Order:</strong>
  <%= @request_support_document.order %>
</p>

<p>
  <strong>Issuer:</strong>
  <%= @request_support_document.issuer %>
</p>

<p>
  <strong>Issuer protocol:</strong>
  <%= @request_support_document.issuer_protocol %>
</p>

<p>
  <strong>Issuer date:</strong>
  <%= @request_support_document.issuer_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request_support_document.description %>
</p>

<p>
<strong>
Πώς θα φαίνεται:
</strong>
<em><%= @request_support_document.to_s %></em>
</p>

<%= link_to 'Edit', edit_request_support_document_path(@request_support_document) %> |
<%= link_to 'Back', request_support_documents_path %>
