<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Επιλογή προσωπικού" %>
    <%= form.collection_select :person_id,
    Person.order(:last_name), :id, :full_name, 
    include_blank: false, prompt:true %>
  </div>

  <div class="field">
    <%= form.label "Σχολείο οργανικής θέσης ή τοποθέτησης" %>
    <%= form.collection_select :school_id,
    School.order(:title), :id, :title, 
    include_blank: false, prompt:true %>
  </div>

  <div class="field">
    <%= form.label "Ημερομηνία προσέλευσης στο σχολείο (προαιρετικό)." %>
    <%= form.date_select :date_in_school, id: :teacher_date_in_school,
      start_year: 1950 %>
  </div>

  <div class="field">
    <%= form.label "Ημερομηνία διορισμού (προαιρετικό)." %>
    <%= form.date_select :date_employed, id: :teacher_date_employed,
      start_year: 1950 %>
  </div>

  <div class="field">
    <%= form.label "Διδακτικό ωράριο" %>
    <%= form.number_field :teaching_hours, id: :teacher_teaching_hours %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
