<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @teacher.person.last_name %>
</p>

<p>
  <strong>School:</strong>
  <%= @teacher.school.title %>
</p>

<p>
  <strong>Date in school:</strong>
  <%= @teacher.date_in_school %>
</p>

<p>
  <strong>Date employed:</strong>
  <%= @teacher.date_employed %>
</p>

<p>
  <strong>Teaching hours:</strong>
  <%= @teacher.teaching_hours %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
