<p id="notice"><%= notice %></p>

<p>
  <strong>Προσωπικό:</strong>
  <%= @teacher.person.last_name %>
</p>

<p>
  <strong>Σχολείο:</strong>
  <%= @teacher.school.title %>
</p>

<p>
  <strong>Σχέση εργασίας:</strong>
  <%= @teacher.teacher_working_class.description %>
</p>

<p>
  <strong>Ημερομηνία ανάληψης υπηρεσίας στο παραπάνω σχολείο:</strong>
  <%= @teacher.date_in_school %>
</p>

<p>
  <strong>Ημερομηνία ανάληψης υπηρεσίας:</strong>
  <%= @teacher.date_employed %>
</p>

<p>
  <strong>Διδακτικό ωράριο:</strong>
  <%= @teacher.teaching_hours %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
