<p id="notice"><%= notice %></p>

<h1>Student Contact Infos</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Info</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_contact_infos.each do |student_contact_info| %>
      <tr>
        <td><%= student_contact_info.student %></td>
        <td><%= student_contact_info.info %></td>
        <td><%= student_contact_info.type %></td>
        <td><%= link_to 'Show', student_contact_info %></td>
        <td><%= link_to 'Edit', edit_student_contact_info_path(student_contact_info) %></td>
        <td><%= link_to 'Destroy', student_contact_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Contact Info', new_student_contact_info_path %>
