<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student_contact_info.student %>
</p>

<p>
  <strong>Info:</strong>
  <%= @student_contact_info.info %>
</p>

<p>
  <strong>Type:</strong>
  <%= @student_contact_info.type %>
</p>

<%= link_to 'Edit', edit_student_contact_info_path(@student_contact_info) %> |
<%= link_to 'Back', student_contact_infos_path %>
