<h1>Σύγκριση προγραμμάτων</h1>

<h2>Εικόνα Προηγούμενου Προγράμματος (
  <%= @schedule_snapshot_previous.description %> 
  taken at 
  <%= @schedule_snapshot_previous.created_at %>
  )</h2>
<% @previous_schedule.each do |s| %>
  <%= s %><br/>
<% end %>

<h2>Τελευταία εικόνα προγράμματος (
  <%= @schedule_snapshot_latest.description %> 
  taken at 
  <%= @schedule_snapshot_latest.created_at %>
  )</h2>
<% @latest_schedule.each do |s| %>
  <%= s %><br/>
<% end %>

<h2>Διαφορές μεταξύ των εικόνων</h2>
<h4>Μαθήματα από το παλιό που δεν υπάρχουν στον νέο.</h4>
<% @previous_schedule.each do |s| %>
  <% if not s.ends_with? "==" %>
    <%= s %><br/>
  <% end %>
<% end %>
<h4>Νέα μαθήματα του νέου προγράμματος</h4>
<% @latest_schedule.each do |s| %>
  <% if not s.ends_with? "==" %>
    <%= s %><br/>
  <% end %>
<% end %>
<h3>Τέλος διαφορών</h3>
