<h1>Schedule#diff</h1>
<p>Find me in app/views/schedule/diff.html.erb</p>

<h2>Previous schedule</h2>
<h3>
  <%= @schedule_snapshot_previous.description %> 
  taken at 
  <%= @schedule_snapshot_previous.created_at %>
</h3>
<% @previous_schedule.each do |s| %>
  <%= s %><br/>
<% end %>

<h2>Latest schedule</h2>
<h3>
  <%= @schedule_snapshot_latest.description %> 
  taken at 
  <%= @schedule_snapshot_latest.created_at %>
</h3>
<% @latest_schedule.each do |s| %>
  <%= s %><br/>
<% end %>

<h2>Μόνο οι διαφορές</h2>
<h3>Αρχή διαφορών</h3>
<% @latest_schedule.each do |s| %>
  <% if not s.ends_with? "==" %>
    <%= s %><br/>
  <% end %>
<% end %>
<h3>Τέλος διαφορών</h3>
