<p id="notice"><%= notice %></p>

<h1>School Teacher Requests</h1>

<table>
  <thead>
    <tr>
      <th>School teacher</th>
      <th>Request specification</th>
      <th>Filename</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_teacher_requests.each do |school_teacher_request| %>
      <tr>
        <td><%= school_teacher_request.school_teacher %></td>
        <td><%= school_teacher_request.request_specification %></td>
        <td><%= school_teacher_request.filename %></td>
        <td><%= link_to 'Show', school_teacher_request %></td>
        <td><%= link_to 'Edit', edit_school_teacher_request_path(school_teacher_request) %></td>
        <td><%= link_to 'Destroy', school_teacher_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School Teacher Request', new_school_teacher_request_path %>
