<p id="notice"><%= notice %></p>

<h3>Ιστορικό αδειών</h3>
<b>(TODO: 1) replace requests with decisions. 2) Show myschool stored decisions. )</b>
<p><em>όλες οι άδειες</em></p>
<ol>
<% @history.each do |school_teacher_request| %>
  <li>
  <%= school_teacher_request.to_s %>
  </li>
<% end %>
</ol>

<p><em>ίδιου τύπου με την αιτούμενη</em></p>
<ol>
<% @history_of_similar.each do |school_teacher_request| %>
  <li>
  <%= school_teacher_request.to_s %>
  </li>
<% end %>
</ol>

<h3>Αιτούμενη άδεια</h3>
<p>
  <strong>School teacher:</strong>
  <%= @school_teacher_request.school_teacher %>
</p>

<p>
  <strong>Request specification:</strong>
  <%= @school_teacher_request.request_specification %>
</p>

<p>
  <strong>Starting date:</strong>
  <%= @school_teacher_request.starting_date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @school_teacher_request.duration %>
</p>

<p>
  <strong>Filename:</strong>
  <%= link_to "Κατεβάστε το odt", 
    download_request_path( @school_teacher_request ) %>
</p>

<%= link_to 'Edit', edit_school_teacher_request_path(@school_teacher_request) %> |
<%= link_to 'Back', school_teacher_requests_path %>
