<%= form_with(model: teacher_specialty, local: true) do |form| %>
  <% if teacher_specialty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher_specialty.errors.count, "error") %> prohibited this teacher_specialty from being saved:</h2>

      <ul>
      <% teacher_specialty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Επιλογή καθηγητή / καθηγήτριας" %>
    <%= form.collection_select :teacher_id,
    Teacher.order(:id), :id, :full_name,
    include_blank: false, prompt:true %>
  </div>

  <div class="field">
    <%= form.label "Επιλογή ειδικότητας" %>
    <%= form.collection_select :specialty_id,
    Specialty.order(:code), :id, :code, 
    include_blank: false, prompt:true %>
  </div>

  <div class="field">
    Προτεραιότητα (100 για την πρώτη ειδικότητα, 200 για την δεύτερη, ...)<br/>
    <%= form.number_field :priority, id: :teacher_specialty_priority %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
