<p id="notice"><%= notice %></p>

<h1>Student Bus Cards</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_bus_cards.each do |student_bus_card| %>
      <tr>
        <td><%= link_to 'Show', student_bus_card %></td>
        <td><%= link_to 'Edit', edit_student_bus_card_path(student_bus_card) %></td>
        <td><%= link_to 'Destroy', student_bus_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Bus Card', new_student_bus_card_path %>
