<%= form_with(model: school_teacher_response, local: true) do |form| %>
  <% if school_teacher_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school_teacher_response.errors.count, "error") %> prohibited this school_teacher_response from being saved:</h2>

      <ul>
      <% school_teacher_response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Επιλογή αιτήματος" %>
    <%= form.collection_select :school_teacher_request_id,
    SchoolTeacherRequest.open_cases, :id, :description,
    include_blank: false, prompt:true %>
  </div>

  <div class="field">
    <%= form.label "Αριθμός απόφασης (από το βιβλίο αποφάσεων)" %>
    <%= form.number_field :decision_no, 
      id: :school_teacher_response_decision_no,
      value: SchoolTeacherResponse.maximum("decision_no") + 1
    %>
  </div>

  <div class="field">
    <%= form.label "Έτος απόφασης (από το βιβλίο αποφάσεων)" %>
    <%= form.number_field :decision_year, 
      id: :school_teacher_response_decision_year,
      value: Date.today.year
    %>
  </div>

  <div class="field">
    <%= form.label "Αριθμός (εξερχόμενου) πρωτοκόλλου" %>
    <%= form.number_field :protocol_no, id: :school_teacher_response_protocol_no %>
  </div>

  <div class="field">
    <%= form.label "Ημερομηνία (εξερχόμενου) πρωτοκόλλου" %>
    <%= form.date_select :protocol_date, id: :school_teacher_response_protocol_date %>
  </div>

  <div class="field">
    <%= form.label "Διάρκεια άδειας σε μέρες" %>
    <%= form.number_field :decision_duration, id: :school_teacher_response_decision_duration %>
  </div>

  <div class="field">
    <%= form.label "Ημερομηνία έναρξης της άδειας" %>
    <%= form.date_select :decision_starting_date, id: :school_teacher_response_decision_starting_date %>
  </div>

  <div class="field">
    <%= form.label "Σχόλια" %>
    <%= form.text_area :comments, id: :school_teacher_response_comments %>
  </div>

  <div class="field">
    <%= form.label "ολοκληρωμένη" %>
    <%= form.check_box :response_completed, id: :school_teacher_response_response_completed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
