<p id="notice"><%= notice %></p>
<h1>Αιτήματα</h1>
<!-- <h2>Open Requests</h2> -->
<table>
  <thead>
    <tr>
      <th>Καθηγητής/Καθηγήτρια</th>
      <th>Είδος άδειας</th>
      <th>Εναρξη</th>
      <th>Διάρκεια</th>
      <th>Αρχείο άδειας</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @open_school_teacher_requests.each do |school_teacher_request| %>
      <tr>
        <td><%= school_teacher_request.school_teacher %></td>
        <td><%= school_teacher_request.request_specification %></td>
        <td><%= school_teacher_request.starting_date %></td>
        <td><%= school_teacher_request.duration %></td>
        <td><%= link_to "Κατεβάστε το odt", download_request_path( school_teacher_request ) %></td>
        <td><%= link_to 'Show', school_teacher_request %></td>
        <td><%= link_to 'Edit', edit_school_teacher_request_path(school_teacher_request) %></td>
        <td><%= link_to 'Destroy', school_teacher_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h1>Αποφάσεις υπο δημιουργία</h1>
<!--<h1>Open School Teacher Responses (without decision files)</h1>-->

<table>
  <thead>
    <tr>
      <th>Αίτημα </th>
      <th>Αριθμός απόφασης</th>
      <th>Αριθμός πρωτοκόλλου</th>
      <th>Διάρκεια απόφασης</th>
      <th>Σχόλια</th>
      <th>Ολοκληρωμένη;</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @open_school_teacher_responses.each do |school_teacher_response| %>
      <tr>
        <td><%= link_to "#{school_teacher_response.school_teacher_request.description}", 
          school_teacher_response.school_teacher_request %></td>
        <td><%= school_teacher_response.decision_no %>/<%= school_teacher_response.decision_year %></td>
        <td><%= school_teacher_response.protocol_no %>/<%= school_teacher_response.protocol_date %></td>
        <td><%= school_teacher_response.decision_duration %> day(s) starting at
        <%= school_teacher_response.decision_starting_date %></td>
        <td><%= school_teacher_response.comments %></td>
        <td><%= school_teacher_response.response_completed %></td>
        <td><%= link_to 'Show', school_teacher_response %></td>
        <td><%= link_to 'Edit', edit_school_teacher_response_path(school_teacher_response) %></td>
        <td><%= link_to 'Destroy', school_teacher_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New School Teacher Response', new_school_teacher_response_path %> -->
<center><h1> <%= link_to 'Δημιουργία νέας απόφασης', new_school_teacher_response_path %></h1> </center>

<p align="right"><%= link_to 'αρχείο αποφάσεων', decision_files_path %></p>
<!-- <h1>Closed School Teacher Responses (with
<%= link_to 'decision files', decision_files_path %>)</h1> 

<table>
  <thead>
    <tr>
      <th>School teacher request</th>
      <th>Decision</th>
      <th>Protocol</th>
      <th>Decision duration</th>
      <th>Comments</th>
      <th>Response completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_teacher_responses_with_decision_files.each do |school_teacher_response| %>
      <tr>
        <td><%= link_to "#{school_teacher_response.school_teacher_request.description}", 
          school_teacher_response.school_teacher_request %></td>
        <td><%= school_teacher_response.decision_no %>/<%= school_teacher_response.decision_year %></td>
        <td><%= school_teacher_response.protocol_no %>/<%= school_teacher_response.protocol_date %></td>
        <td><%= school_teacher_response.decision_duration %> day(s) starting at
        <%= school_teacher_response.decision_starting_date %></td>
        <td><%= school_teacher_response.comments %></td>
        <td><%= school_teacher_response.response_completed %></td>
        <td><%= link_to 'Show', school_teacher_response %></td>
        <td><%= link_to 'Edit', edit_school_teacher_response_path(school_teacher_response) %></td>
        <td><%= link_to 'Destroy', school_teacher_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h1>All School Teacher Responses (mainly for debugging purposes) </h1>

<table>
  <thead>
    <tr>
      <th>School teacher request</th>
      <th>Decision</th>
      <th>Protocol</th>
      <th>Decision duration</th>
      <th>Comments</th>
      <th>Response completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_teacher_responses.each do |school_teacher_response| %>
      <tr>
        <td><%= link_to "#{school_teacher_response.school_teacher_request.description}", 
          school_teacher_response.school_teacher_request %></td>
        <td><%= school_teacher_response.decision_no %>/<%= school_teacher_response.decision_year %></td>
        <td><%= school_teacher_response.protocol_no %>/<%= school_teacher_response.protocol_date %></td>
        <td><%= school_teacher_response.decision_duration %> day(s) starting at
        <%= school_teacher_response.decision_starting_date %></td>
        <td><%= school_teacher_response.comments %></td>
        <td><%= school_teacher_response.response_completed %></td>
        <td><%= link_to 'Show', school_teacher_response %></td>
        <td><%= link_to 'Edit', edit_school_teacher_response_path(school_teacher_response) %></td>
        <td><%= link_to 'Destroy', school_teacher_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

-->
