<p id="notice"><%= notice %></p>

<p>
  <strong>School teacher request:</strong>
  <%= link_to @school_teacher_response.school_teacher_request.description,
     @school_teacher_response.school_teacher_request
  %>
</p>

<p>
  <strong>Decision no:</strong>
  <%= @school_teacher_response.decision_no %>
</p>

<p>
  <strong>Decision year:</strong>
  <%= @school_teacher_response.decision_year %>
</p>

<p>
  <strong>Protocol no:</strong>
  <%= @school_teacher_response.protocol_no %>
</p>

<p>
  <strong>Protocol date:</strong>
  <%= @school_teacher_response.protocol_date %>
</p>

<p>
  <strong>Decision duration:</strong>
  <%= @school_teacher_response.decision_duration %>
</p>

<p>
  <strong>Decision starting date:</strong>
  <%= @school_teacher_response.decision_starting_date %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @school_teacher_response.comments %>
</p>

<p>
  <strong>Response completed:</strong>
  <%= @school_teacher_response.response_completed %>
</p>

<%= link_to 'Edit', edit_school_teacher_response_path(@school_teacher_response) %> |
<%= link_to 'Back', school_teacher_responses_path %>

<hr>
<h3>Support Documents</h3>
<% if @request_support_documents %>
  <ol>
    <% @request_support_documents.each do |document| %>
      <li>
        <%= document %>
      </li>
    <% end %>
  </ol>
<% end %>
<p>
<%= link_to 'Add support document', add_support_document_path(@school_teacher_response.school_teacher_request) %>
</p>
<hr>
<h3>Decision</h3>
<%= link_to "Create Decision Files", create_decision_files_path(@school_teacher_response) %>


