<p id="notice"><%= notice %></p>

<p>
  <strong>code:</strong>
  <%= @teacher_working_class.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @teacher_working_class.description %>
</p>

<%= link_to 'Edit', edit_teacher_working_class_path(@teacher_working_class) %> |
<%= link_to 'Back', teacher_working_classes_path %>
