<%= form_with(model: schoolyear, local: true) do |form| %>
  <% if schoolyear.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schoolyear.errors.count, "error") %> prohibited this schoolyear from being saved:</h2>

      <ul>
      <% schoolyear.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :startingyear %>
    <%= form.text_field :startingyear, id: :schoolyear_startingyear %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
