<p id="notice"><%= notice %></p>

<h1>Schoolyears</h1>

<table>
  <thead>
    <tr>
      <th>Startingyear</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schoolyears.each do |schoolyear| %>
      <tr>
        <td><%= schoolyear.startingyear %></td>
        <td><%= link_to 'Show', schoolyear %></td>
        <td><%= link_to 'Edit', edit_schoolyear_path(schoolyear) %></td>
        <td><%= link_to 'Destroy', schoolyear, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schoolyear', new_schoolyear_path %>
