<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>Νέα αίτηση για άδεια</title>
  </head>
  <body>
    <p>
      Γειά σας,
    </p>

    <p>
    Η συνημμένη αίτηση καταχωρήθηκε επιτυχώς στο σύστημα.
    </p>
    

    <table>
      <tr>
        <td>Αιτών/ούσα</td>
        <td>
          <%= @school_teacher_request.school_teacher.teacher.person.short_name %><br/>
          <%= @school_teacher_request.school_teacher.teacher.teacher_working_class.description %><br/>
          <%= @school_teacher_request.school_teacher.teacher.person.notification_email %><br/>
          <%= @school_teacher_request.school_teacher.teacher.person.mobile_phone %><br/>
        </td>
      </tr>
      <tr>
        <td>Είδος άδειας</td>
        <td>
          <%= @school_teacher_request.request_specification.description %>
        </td>
      </tr>
      <tr>
        <td>Ημερομηνία απουσίας</td>
        <td>
          <%= @school_teacher_request.starting_date %>
        </td>
      </tr>
      <tr>
        <td>Διάρκεια απουσίας</td>
        <td>
          <%= @school_teacher_request.duration %>
        </td>
      </tr>
    </table>

    <p>
    Θα ενημερωθείτε με καινούριο email μόλις γίνει η έγκρισή της.
    </p>

    <p align=right>
      geoStaff
    </p>
    <p>
    <small>Αυτοματοποιημένο email</small>
    </p>
  </body>
</html>
