<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :person_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :person_last_name %>
  </div>

  <div class="field">
    <%= form.label :father_name %>
    <%= form.text_field :father_name, id: :person_father_name %>
  </div>

  <div class="field">
    <%= form.label :mother_name %>
    <%= form.text_field :mother_name, id: :person_mother_name %>
  </div>

  <div class="field">
    <%= form.label :notification_email %>
    <%= form.text_field :notification_email, id: :person_notification_email %>
  </div>

  <div class="field">
    <%= form.label :notifcation_sms_phone %>
    <%= form.text_field :notifcation_sms_phone, id: :person_notifcation_sms_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
